.form {
    &-search{    
        &-admins{
            padding: 6px;
            font-size: 20px;
            border: 1px solid whitesmoke;
            border-radius: 10px;
            outline: none;
            width: auto;
            background-color: whitesmoke;
            transition: .4s cubic-bezier(0, 0.8, 0, 1);
            margin-bottom: 10px;
     
        }
        &-admins-btn{
            margin-bottom: 20px;
            width: auto;
            height: 40px;
            background-color: rgb(60, 112, 226);
            color: white;
            border-radius: 10px;
            font-size: 20px;
            
            &:hover{
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }
}